.FormContainer {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  gap: 20px;
  padding: 30px;
}

.FormData {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.FormInput {
  max-width: 100%;
  padding: 10px 15px;

  border: 1px solid white;
  border-radius: 10px;
}

.FormSubmit {
  background-color: greenyellow;
  padding: 10px;
  max-width: 100%;
  color: black;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
